.button {

    position: relative;

    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,

  /*
  .button.hovered{
    animation: move 1s infinite alternate;
  }

@keyframes move {
    from {
        transform: translateX(0);
    }    
    to {
        transform: translateX(500px);
    }
}
*/
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }